/* navbar/header */
.v-toolbar__content{
   background-color: #0D4990;
}

.theme--light.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active), .theme--light.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active) > .v-icon, .theme--light.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active) > .v-btn, .theme--light.v-tabs > .v-tabs-bar .v-tab--disabled{
   color: rgba(255, 255, 255, 0.492);
}
.v-tabs-slider,.v-tab--active.v-tab{
   color: white;
}

/* mid content: */

/* inside content: */

/* view buttons: */

.v-btn__content{
   color: white;
}

.v-btn{
   background-color: #0D4990 !important;
   color: white !important;
}
/* view icons: */
.v-btn:not(.v-btn--round).v-size--default{
   background-color: #0D4990 !important;
   color: white;
}

/* git icons: */
.v-icon.v-icon{
   color: #0D4990;
}

.mdi-github:hover::before {
   color:  rgb(16, 109, 82);
}

/* footer */
#footer{
   background-color: #0D4990;
}
#footer-left-card{
   background-color: #0D4990;
}

.footer-div  .mdi-github:hover::before {
   color: rgb(0, 255, 183);
}

.footer-div .v-icon.v-icon{
   color: white;
}
#footer-lef-card-text{
   color:white
}